target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
/vr4java-client/nbproject/private/
/vr4java-client/build/
/client/nbproject/private/
/client/build/
/client/dist/
build/
dist/
.idea
*.iml
certificate-*
*.dll
*.jks
*.log*
assets/
asset-cache/
repo/
lib/
*.jar